<!--
DISCUSSION 1
일단 works라고 대출 놓기는 했는데... body, cloth를 포괄하는
상위 개념의 이름을 뭐라고 지어야 할까?
정해지면 해당 파일의 제목도 바꿀 것
-->

<div class="class mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    목록
  </div>
  <div class="card-body">
    <!-- DataTales Example -->
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>body type</th>
            <th>waist -> waist</th>
            <th>sleeve_length -> sleeve_length</th>
            <th>front_waist_length -> front_waist_length</th>
            <th>bust, bust_point -> bust</th>
            <th>neck width -> neck_width</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Triangle</td>
            <td>58 -> 60</td>
            <td>59 -> 60</td>
            <td>42 -> 43</td>
            <td>76,24 -> 78</td>
            <td>33 -> 35</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
