<!-- Content Row -->
<div class="row">
  <!-- Content Column -->
  <div class="col-lg-12 mb-2">
    <!-- Profile -->
    <div class="card shadow mb-2">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">치수입력</h6>
      </div>
      <div class="card-body">
        <form action="/customer/body" method="post">

          <div class="row">
            <div class="form-group col-lg-12">
              <div class="form-label-group">
                <a>size1</a>
                <input type="text" id="size1" class="form-control" required="required" name="size1">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-12">
              <div class="form-label-group">
                <a>size2</a>
                <input type="text" id="size2" class="form-control" required="required" name="size2">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-12">
              <div class="form-label-group">
                <a>size3</a>
                <input type="text" id="size3" class="form-control" required="required" name="size3">
              </div>
            </div>
          </div>

          <hr>
          <input type="submit" class="btn btn-primary" value="등록">
        </form>
      </div>

    </div>
    <!-- End of Project Card Example -->
  </div>
  <!-- End of Content Column -->
</div>
<!-- End of Content Row -->
