<!-- Content Row -->
<div class="row">
  <!-- Content Column -->
  <div class="col-lg-12 mb-2">
    <!-- Profile -->
    <div class="card shadow mb-2">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">치수입력</h6>
      </div>
      <div class="card-body">
        <form action="/customer/body" method="post">

          <div class="row">
            <div class="form-group col-lg-12">
              <div class="form-label-group">
                <a>Waist</a>
                <input type="text" id="waist" class="form-control" required="required" name="waist">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-12">
              <div class="form-label-group">
                <a>Sleeve Length</a>
                <input type="text" id="sleeve_size" class="form-control" required="required" name="sleeve_size">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-12">
              <div class="form-label-group">
                <a>Front Waist Length</a>
                <input type="text" id="front_waist_length" class="form-control" required="required" name="front_waist_length">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-12">
              <div class="form-label-group">
                <a>Bust</a>
                <input type="text" id="bust" class="form-control" required="required" name="bust">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-12">
              <div class="form-label-group">
                <a>Bust Point</a>
                <input type="text" id="bust_point" class="form-control" required="required" name="bust_point">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-12">
              <div class="form-label-group">
                <a>Neck Width</a>
                <input type="text" id="neck_width" class="form-control" required="required" name="neck_width">
              </div>
            </div>
          </div>

          <hr>
          <input type="submit" class="btn btn-primary" value="치수등록">
        </form>
      </div>

    </div>
    <!-- End of Project Card Example -->
  </div>
  <!-- End of Content Column -->
</div>
<!-- End of Content Row -->
